# MCP Server files
gmail/__pycache__/
gmail/.venv/

gmail/*.log



# IDE files
.cursor/

# Credentials
gmail-client/__pycache__/
gmail-client/.venv/
gmail/uv.lock

gmail-client/*.log
gmail-client/.env

gmail-client/creds/*.json